#html {
  background: #f0f0f0;
}

form {
  padding: 16px;
}

.overflow {
  overflow: hidden;
}

label, .notice {
  display: block;
  font-size: 18px;
  line-height: 28px;
  padding: 0 8px;
  font-weight: 300;
  color: #555;
  margin-top: 8px;
}
input, button {
  border: 2px solid #ccc;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  padding: 2px 8px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s;
  position: relative;
  margin: 4px 0;
  margin-bottom: 8px;
}
input[type="color"] {
  height: 40px;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
button:focus, input:focus {
  outline: 0;
  border-color: #0091ea;
}

#input1:focus {
  border-color: blue;
}
#input2:focus {
  border-color: green;
}

.highlight {
  position: relative;
  transition: all 0.25s;
}

.highlight::after {
  top: 0;
  content: '';
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(6px);
  opacity: 0;
  transition: inherit;
}

.invalid {
  display: block;
  color: red;
  transition: all 0.25s;
  transform: translate(-100%);
  overflow: hidden;
  transform-origin: 0 50%;
}

input:invalid + .invalid {
  transform: translate(0%);
  max-height: 2em;
}

.extra {
  transition: all 0.5s;
  max-height: 0;
  overflow: hidden;
  position: relative;
}

.extra > div {
  transition: all 1s;
  width: 100%;
  border-right: 32px solid transparent;
}
.extra > div.carousel-2 {
  position: absolute;
  left: calc(100% + 32px);
  top: 0;
}
.extra > div.carousel-3 {
  position: absolute;
  left: calc(200% + 64px);
  top: 0;
}

button {
  transition: opacity 1s;
  opacity: 0;
}

/** #1 */
.show-email .input-email {
  border: 4px solid transparent;
  border-left: none;
  border-right: none;
}
.show-email .input-email input {
  transform: translateZ(16px);
}
.show-email .input-email::after {
  opacity: 0.25;
}

/** #2 */
.show-regex .input-regex {
  border: 4px solid transparent;
  border-left: none;
  border-right: none;
}
.show-regex .input-regex input {
  transform: translateZ(16px);
}
.show-regex .input-regex::after {
  opacity: 0.25;
}

/** #3 */
.more .extra {
  max-height: 200px;
}

.more2 .extra > div {
  transform: translate(-100%);
}
.more3 .extra > div {
  transform: translate(-200%);
}

/** 4-ish */
.validate button {
  opacity: 1;
}

/** 5 */

.error .show-error {
  transition: all 1s;
  border-right: 16px solid red;
  padding-right: 10px;
}