#html {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) inset;
}

#body {
  height: 100%;
  overflow: scroll;
}

#container {
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  padding-top: 12px;
}

#image {
  width: 400px;
  height: 300px;
  position: relative;
  transform: translateZ(80px);
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
#image::after {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  content: '';
  position: absolute;
  transform: translateZ(-78px);
  filter: blur(12px);
  transition: all 0.5s;
}

#image img {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: opacity;
  transition: opacity 1s;
  z-index: 5;
  border-radius: 4px;
}

#image img.low {
  z-index: 10;
  opacity: 0;
}

#rest {
  box-sizing: border-box;
  height: 100%;
}

.holder {
  display: flex;
  justify-content: center;
  text-align: center;
  transition: opacity 0.25s;
}

.holder div {
  transition: opacity 0.25s;
}
.holder#crush div img {
  width: 140px;
  margin: -20px;
}
.holder div h3 {
  color: #333;
  font-size: 16px;
  margin: 12px 0 4px;
}
.holder div pre {
  margin: 4px;
  margin-bottom: 12px;
}

.holder .fake {
  position: relative;
}
.holder .fake .label {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  color: black;
  border-radius: 6px;
  background: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}

#lots {
  margin-top: 24px;
  flex-flow: column;
  align-items: center;
}
#lots .bg {
  margin: 12px 0;
  border-radius: 6px;
  background: #eee;
  width: auto;
  display: inline-block;
}
#lots .bg.fake {
  margin-bottom: 400px;
}
#lots img {
  display: block;
  border-radius: 6px;
  width: 180px;
  transition: opacity 1s;
}

/** #1 */

.small #image {
  transform: translateY(-80px) scale(0.5);
}
.small #image::after {
  opacity: 0;
  transform: translateZ(0);
}

/** #2 */

.bad-image img.low {
  opacity: 1 !important;
}

/** #3 */

#crush {
  opacity: 0;
  transform: translateY(-100%);
} 
.crush .holder#crush {
  opacity: 1;
}

/** #4 */

#pngcrush {
  opacity: 0;
}
.pngcrush #pngcrush {
  opacity: 1;
}

/** #5 */

.loadanyway #container {
  transition: opacity 0.25s;
  opacity: 0;
}

.fake.bg {
  opacity: 0;
}
.loadanyway .fake.bg {
  opacity: 1;
}
.bg img {
  opacity: 0;
}
.loadanyway-show .fake.bg img {
  opacity: 1 !important;
}
.loadanyway-show .fake.bg .label {
  opacity: 0;
}

/** #6 */

.showcase .bg img {
  opacity: 1;
}
.showcase .bg:nth-child(1) img {
  transition-delay: 0s !important;
}
.showcase .bg:nth-child(2) img {
  transition-delay: 1.25s !important;
}
.showcase .bg:nth-child(3) img {
  transition-delay: 2.5s !important;
}

