.buttons {
  background: #0091ea;
  color: white;
  padding: 0.5em;
  box-sizing: border-box;
}

.buttons button {
  border: 0;
  font: inherit;
  line-height: 2em;
  padding: 0 0.5em;
  background: #eee;
  border-radius: 1px;
  position: relative;
  transition: all 0.5s;
  min-width: 32px;
  display: inline-block;
  margin-right: 8px;
  transition: all 0.5s;
  transform: translateZ(10px);
  transform-style: preserve-3d;
}

.buttons button:before {
  content: '';
  transform: translateZ(-10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.66;
  filter: blur(4px);
}

.buttons button text {
  transition: all 0.5s;
  display: block;
  overflow: hidden;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons button i {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1000px;
  width: 32px;
  background: rgba(255, 255, 255, 0.75);
  transform: translateZ(1000px);
  opacity: 0;
  transition: all 0.5s;
}

#maze {
  text-align: center;
  margin: 2em;
  transform: translateZ(10000px);
  transition: all 0.5s;
  transform-style: preserve-3d;
  opacity: 0;
}
#maze i {
  font-size: 128px;
  font-weight: 500;
}

#icons {
  text-align: center;
  font-size: 38px;
  color: #0091ea;
}
#icons i {
  transform: scale(0);
  transition: all 0.5s;
  vertical-align: middle;
}

#alt {
  background: #0091ea;
  color: white;
  padding: 0.5em;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform-style: preserve-3d;
  top: 100%;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}
#alt:before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  top: -6px;
  left: calc(50% - 6px);
  background: inherit;
}

/** #1 **/

.pageicons #icons i {
  transform: scale(1.0);
}
.pageicons #icons i:nth-child(1) {
  transition-delay: 0.0s;
}
.pageicons #icons i:nth-child(2) {
  transition-delay: 0.4s;
}
.pageicons #icons i:nth-child(3) {
  transition-delay: 0.8s;
}
.pageicons #icons i:nth-child(4) {
  transition-delay: 1.2s;
}
.pageicons #icons i:nth-child(5) {
  transition-delay: 1.6s;
}
.pageicons #icons i:nth-child(6) {
  transition-delay: 2.0s;
}

/** #2 */

.icons .buttons button text {
  max-width: 0px;
}
.icons .buttons button i {
  transform: translateZ(0px);
  opacity: 1.0;
  background: transparent;
}

/** #3 */

.changer #icons i:nth-child(2) {
  color: red;
  transition-delay: 0s;
}
.changer #icons i:nth-child(1) {
  transform: scale(0.5);
  transition-delay: 0.4s;
}
.changer #icons i:nth-child(3) {
  color: #ccc;
  font-weight: 900;
  transition-delay: 0.6s;
  text-shadow: 0 0 6px rgba(0, 0, 255, 0.33);
}
.changer #icons i:nth-child(4) {
  font-weight: 900;
  transition-delay: 0.8s;
  transform: scale(0.4);
}
.changer #icons i:nth-child(5) {
  font-weight: 300;
  transition-delay: 0.8s;
}
.changer #icons i:nth-child(6) {
  font-weight: 300;
  transition-delay: 1.4s;
  font-size: 60px;
}

/** #4 */

.maze #maze {
  transform: translateZ(0);
  opacity: 1;
}

/** #5 */

.alt #alt {
  opacity: 1;
}