main {
  padding: 12px 0;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#body {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.fill {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  will-change: transform;
  background: black;
  opacity: 0;
  transition: transform var(--frame2) ease-in-out, opacity var(--frame2) ease-in-out;
}
.fill.show {
  opacity: 0.125;
}
.fill.out {
  transform: translateZ(100px);
}

ts-feature {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  --depth: 80px;
  border-radius: 2px;
}

.dialog {
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.77);
  color: #777;
  border-radius: 2px;
  width: 220px;
  height: 160px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 24px;
}
.dialog p {
  margin: 0;
}
form button {
  border: 2px solid #ccc;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  padding: 2px 8px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s;
  position: relative;
  background: white;
}

.sidebar {
  will-change: transform;
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
  background: white;
  transform: translate(0);
  transition: transform var(--frame2) ease-out;
  z-index: 100;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.sidebar.hide {
  transform: translate(-110%);
}
.sidebar * {
  margin: 0;
}
.sidebar .video {
  margin: 12px 0;
  width: 100%;
  position: relative;
}
.sidebar .video img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}