#photo {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity var(--frame2);
  will-change: transform, opadity;
  transform-style: preserve-3d;
  z-index: 100;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateZ(0.001px); /* just force it in front */
}
.mode-photo #photo {
  opacity: 1;
}

#page {
  z-index: -100;
  height: 100%;
  width: 100%;
  background: #fff;
  border: 4px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  transition: border-color var(--frame2) ease-in;
  will-change: transform;
}

#hand {
  --depth: 800px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform var(--frame) ease-in-out;
  transform-style: preserve-3d;
}

#hand .pointer {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-top: -20px;
  margin-left: -40px;
  background: url('assets/cursor.png') center no-repeat;
  background-size: contain;
  transform: translateZ(var(--depth));
  transition: opacity var(--frame4);
}

#hand > div {
  opacity: 0;
}
#hand.show > div {
  opacity: 1;
}

#hand .dragsize {
  position: absolute;
  width: 120px;
  height: 120px;
  background: red;
  margin-top: -60px;
  margin-left: -60px;
}
#hand .shadow {
  border-radius: 10px;
  filter: blur(20px);
  background: black;
  transform: scale(0.5) translateZ(10px);
}
#hand.show .shadow {
  opacity: 0.25 !important;
}
#hand .holding {
  position: absolute;
  transform: translateZ(calc(var(--depth) - 10px)) scale(1.0);
  transition: transform var(--frame2) cubic-bezier(0.755, 1.575, 0.175, 0.745) var(--frame2), opacity var(--frame2);
  background: url('assets/coffee.jpeg') center no-repeat;
  background-size: cover;
  border: 4px solid white;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.125);
  transform-style: preserve-3d;
}
#hand .holding::before,
#hand .holding::after {
  content: '';
  border: 4px solid white;
  border-radius: 2px;
  background: url('assets/meme.png') center no-repeat;
  background-size: cover;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 40px;
  left: 40px;
  display: none;
}
#hand .holding::before {
  background: url('assets/bridge.jpeg') center no-repeat;
  top: 20px;
  left: 20px;
}
#hand.multiple .holding::before,
#hand.multiple .holding::after {
  display: block;
}

#hand.letgo .holding {
  transform: translateZ(10px) scale(0.75);
}
#hand.letgo .shadow {
  opacity: 0 !important;
  transition: opacity var(--frame2) cubic-bezier(0.755, 1.575, 0.175, 0.745), transform var(--frame2);
  transition-delay: var(--frame2);
  transform: scale(1);
}
#hand.noshadow {
  --depth: 200px;
}
#hand.noshadow .shadow {
  display: none;
}
#hand.bounce .holding {
  animation: bouncey var(--frame);
}

@keyframes bouncey {
  0% { transform: translateZ(calc(var(--depth) - 10px)); opacity: 1; }
  20% { transform: translateZ(0px); opacity: 1; }
  100% { transform: translateZ(400px) translateX(400px) rotateY(80deg) rotateZ(-20deg); opacity: 0; }
}

#drophere {
  background: #4180F8;
  border-radius: 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height: 0;
  transition: all var(--frame2) ease-in;
  margin: 1em auto;
  max-width: 20em;
  overflow: hidden;
  box-sizing: border-box;
  border: 4px solid transparent;
  opacity: 0;
}
#drophere:not([hidden]) {
  height: 10em;
  opacity: 1;
}
#drophere.active {
  border-color: #4180F8;
  color: #4180F8;
  transition: none;
  background: rgba(65, 128, 248, 0.25);
}
#drophere.upload {
  color: #4180F8;
  transition: all var(--frame) ease-in;
}

form {
  position: relative;
  margin: 1em auto;
  max-width: 20em;
  background: #ccc;
  border-radius: 10px;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  border: 4px solid transparent;
  transition: opacity var(--frame4);
}
form[hidden] {
  display: flex;
  opacity: 0;
}
form h1 {
  margin: 0.25em;
}
form input {
  border: 2px solid transparent;
  font-size: 1em;
  margin: 0.25em;
}
form input[type="file"] {
  background: #eee;
  padding: 4px;
}