main {
  padding: 12px 0;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#body {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.fill {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  will-change: transform;
  background: black;
  opacity: 0;
  transition: transform var(--frame2) ease-in-out, opacity var(--frame4) ease-in-out;
  z-index: 10;
}
.fill.show {
  opacity: 0.125;
}
.fill.raise {
  transform: translateZ(150px);
}
ts-feature.raise {
  --depth: 155px;
}

ts-feature {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  --depth: 80px;
  border-radius: 2px;
}

.dialog {
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.77);
  color: #777;
  border-radius: 2px;
  width: 220px;
  height: 160px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 24px;
}
.dialog p {
  margin: 0;
}
.dialog .form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 2px solid transparent;
  border-radius: 2px;
  height: 100%;
  box-sizing: border-box;
}
input, button {
  border: 2px solid #ccc;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  padding: 2px 8px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s;
  position: relative;
  background: white;
  margin-top: 8px;
  will-change: transform;
}
form.mid {
  border: 2px solid transparent;
  margin: 12px auto;
  padding: 22px;
  width: 200px;
  will-change: transform;
  opacity: 1;
  transition: all var(--frame2) ease-in-out;
}
form.mid button.hold {
  background: #777;
  color: white;
}
form.mid.hide {
  opacity: 0;
}
form.mid.warn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
form.mid.warn button {
  border-color: red;
  color: red;
}
form.mid.warn button.hold {
  background: red;
  color: white;
}
.icons {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}
.icons img {
  width: 42px;
  height: 42px;
}

.sidebar {
  will-change: transform;
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
  background: white;
  transform: translate(0);
  transition: transform var(--frame2) ease-out;
  z-index: 100;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.sidebar.delay {
  transition-delay: var(--frame2);
}
.sidebar:not(.show) {
  transform: translate(-110%);
}
.sidebar * {
  margin: 0;
}
.sidebar .video {
  margin: 12px 0;
  width: 100%;
  position: relative;
}
.sidebar .video img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.dialog.native {
  transition: border-color var(--frame2) ease-in-out;
  border-color: blue;
}

.dialog.native .form {
  transition: border-color var(--frame2) ease-in-out;
  border-color: green;
}

.inert {
  box-shadow: 0 0 0 4px red;
}
.fade {
  opacity: 0.5 !important;
}
